.navbar{
    width: 100%;
    height: 50px;
    background-color:white;
    position: sticky;
    top: 0;
    display:flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.topLeft,.topRight{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topLeft{
    font-size:30px;
}
.topCenter{
    width:50%;
}
.topList{
    display:flex;
    justify-content:space-evenly;
    list-style: none;
}
.topList>li{
    font-weight:500;
    cursor: pointer;
    font-size:18px;
}
.topImg{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}
.topRight>:last-child{
    font-size:18px;
    cursor : pointer;
    margin-left: 15px;
}